header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #c41ba2;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li a {
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

nav li:hover{
  transform: scale(1.10);
  transition: transform 0.3s ease;
}

main p {
  font-family: "Noto Sans Warang Citi", sans-serif;
}


.image-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

main h1 {
  display: flex;
  justify-content: center;
  padding: 50px;

}

main p {
  display: flex;
  justify-content: center;
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

.button-container {
  text-align: center;
  padding: 10px;

}


.order-button {
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  background-color: #63c748;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.10);
}



.featured-menu {
  text-align: center;
  padding: 20px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  text-align: center;


}

.featured-menu h2 {
  color: #ff00ff;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-right: 65px;
  text-align: center;

}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-10px);
}

.menu-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item h3 {
  color: #ff00ff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.menu-item p {
  color: #666;
  font-size: 1rem;
}

footer {
  background-color: pink;
  padding: 20px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;

}